.container {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "side-navigation main-container main-container main-container"
        "side-navigation main-container main-container main-container"
        "side-navigation main-container main-container main-container";
}

.main-container {
    grid-area: main-container;
}

.side-navigation {
    grid-area: side-navigation;
}